{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>FreshF@od</title>
     <link rel="icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
     
     
  </head>
  <style >
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

}
@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

  </style>
  <script>
    $( document ).ready(function() {
      let is_vendor="{{is_vendor}}"
      // let vendorList=JSON.parse(document.getElementById("vendorList").value)
      // let list=''
      // for (let i=0;i<vendorList.length;i++){
      //   list+=`<p class="text-truncate mb-4 mb-md-0">${vendorList[i]['restaurant_name']}</p>`
      // }
      // document.getElementById('vendor_list').innerHTML=list
      // console.log("all vendor=",vendorList)
      console.log("vendor value=",is_vendor)
      if(is_vendor==="True"){
        document.getElementById("profile_menu").href="/customer/customer_details/"
      }else{
        document.getElementById("profile_menu").href="/customer/customer_profile/"
      }
    });
  </script>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img style="height:50px;width: 50px;" src="{% static 'image/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active px-3">
        <a class="nav-link" href="#">Home</a>
      </li>
    
     <li class="nav-item active px-3">
     	<a class="nav-link" href="/customer/cart/"><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"><span>Cart</span></a>
      </li>
     
  
      	<div class="btn-group">
  
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  	<a ><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg"width="24" height="24"><span>  {{user.first_name}}</span></a>
    
  </button>
  <div class="dropdown-menu">
     <a id="profile_menu" class="dropdown-item " title="My Profile"><img  src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg" alt="My Profile" width="20" height="20" > My Profile</a>
     <hr>
   <a href="#" class="dropdown-item" title="Orders"><img class="SFnind" src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/orders-bfe8c4.svg" alt="Orders" width="20" height="20"  >  Orders</a>
   <hr>
    <a href="/customer/customer_logout/" class="dropdown-item" title="Logout"><img  src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/logout-e63ddf.svg" alt="Logout" width="20" height="20" >  Logout</a>
    </div>
  </div>
</ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  
 

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  

</div>
</nav>
<div class=" container  mt-3">

<h1 class="styles__H1-a90kxg-2 style__BannerHeadText-sc-1iksw1-0 cWSfmy"><span class="style__ColoredSpan-sc-1iksw1-1 bvEpHv" style="margin-left: 300px; color:darkred;">Order Online with FreshF@od</span>
<img src="https://static-assets-web.flixcart.com/fk-sp-static/images/prelogin/banner/Desktop_sell.webp" alt="" height="" width="" loading="lazy" class="styles__BannerWrapper-sc-1apzq4x-1 efNVbq"></h1>
</div>


   
    
<section style="background-color: #eee;">
  {% for pip in img %}
  <div class="container ">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{pip.recipe_image.url}}"  width="210px" height="170px" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{pip.recipe_name}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                 
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <h6><span>{{pip.recipe_discription}}</span></h6>
                  <span class="text-primary"> • </span>
                  <span>Deliceous</span>
                  <span class="text-primary"> • </span>
                  <span>Food<br /></span>
                </div>
                <div class="mb-2 text-muted small">
                  
                  <span class="text-primary"> • </span>
                  <span>Enjoy Your Day</span>
                  <span class="text-primary"> • </span>
                  <span>Thankyou<br /></span>
                </div>
                <div id='vendor_list'>
                <h5 style="color: darkred;" class="text-truncate mb-4 mb-md-0">{{pip.vendor.restaurant_name}}</h5>
              </div>
           
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">Rs.{{pip.recipe_price}} </h4>
                  
                </div>
                <h6 class="text-success">Delevery Charge Rs.40+</h6>
                <div class="d-flex flex-column mt-4">
                 <a href="/customer/addcart/{{pip.id}}"> <button class="btn btn-primary btn-sm" type="button">Add to cart</button></a>
                  <a href="/customer/cart/"><button class="btn btn-outline-primary btn-sm mt-2" type="button">
                   Show   Cart
                  </button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
        </div>    
  
{% endfor %}
<input type="hidden" name="" id="vendorList" value="{{vendor}}">
</section>

 
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted bg-dark">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block active">
      <h3 style="color: white;">Get connected with us on social media</h3>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
<a href="#" class="fa fa-facebook" style="width:20px;height: 10px;" > </a>
<a href="#" class="fa fa-twitter "></a>  
<a href="#" class="fa fa-google "></a>
<a href="#" class="fa fa-youtube "></a>
<a href="#" class="fa fa-instagram "></a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color:white;">
            <i class="fas fa-gem me-3"></i>FreshF@od
          </h6>
          <p>
            Here we can sell the online fresh food for the customer , and get easily food and enjoy the 
            day
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color:white;">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Fresh Food </a>
          </p>
          <p>
            <a href="#!" class="text-reset">Veg</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Non-Veg</a>
          </p>
          <p>
            <a href="#!" class="text-reset">South menu</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color:white;">
            More Feature
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color:white;">Contact</h6>
          <p> Add- Uttar Pradesh , Varanasi India</p>
          <p> Mail-
            FreshF@od12@gmail.com
          </p>
          <p > Mob- 91+ 6392571714</p>
          <p >Phone- + 0542 89 76 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">FreshF@od.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->



</body>
</html>