{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>FreshF@od</title>
     <link rel="icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
     
  </head>
  <body>

  <div class="container mt-3">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">

{% csrf_token %}
{{form.as_table}}
<br>
<button type="submit" class="btn btn-lg btn-success">Update Recipe</button>
</form>


</div>
</body>
</html>